#products-cards {
    /*
    display: inline;
    padding: 10em;
    */
    position: absolute;
    top: 50em;
}

.card-img-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.product-card {
    width: 300px;
    border-radius: 10px;
    webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    margin: 1em;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
}

.product-card:hover {
    margin-top: 5px;
}
